[submodule "resources/sitemap"]
	path = resources/sitemap
	url = git@github.com:hashobject/sitemap.git
[submodule "resources/translate"]
	path = resources/translate
	url = git@github.com:hashobject/translate.git
[submodule "resources/time-to-read"]
	path = resources/time-to-read
	url = git@github.com:hashobject/time-to-read.git
